@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to contact management</p>
</div>
<br />

<div class="text-center">
    <a type="button" class="btn btn-outline-primary btn-lg" asp-page="ContactCRUD/Create">New Contact</a>
    <a type="button" class="btn btn-outline-primary btn-lg" asp-page="ContactCRUD/Index">Contact List</a>
</div>




